.navbar {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #eee;

  &__container {
    margin: auto;
    padding: 0 10px;
    width: 100%;
    height: 60px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-weight: 500;
    font-size: 22px;
  }

  &__menu-button {
    border: 1px solid green;
  }

  // Mobile Menu Slidebar
  &__mobile-menu {
    background-color: #eee;
    padding: 10px 15px;
    width: 100%;
    height: calc(100vh - 60px);
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;

    &.active {
      transform: translateX(0%);
    }
  }
}
